header {
  width: 60rem;
  max-width: 100%;
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(var(--RGB-bg), 0.6);
  padding: 2rem 8rem;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0 10rem;
}

.keyword {
  width: 100%;
}
.keyword ol {
  display: flex;
  gap: 0.8rem;
  justify-content: flex-end;
}
.keyword button {
  opacity: 0.8;
  font-size: 0.85em;
  background-color: var(--bgColor);
  padding: 0.5rem 0.8rem;
  word-break: keep-all;
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0.4em;
}

.form-group {
  display: flex;
  gap: 1.6rem;
}

.search-form,
.count {
  height: 4rem;
  background-color: var(--bgColor);
  padding: 0 0 0 1rem;
  border-radius: 0.4rem;
}

.search-form {
  display: flex;
}
.search-form input {
  background: none;
  border: none;
}
.search-form button {
  border-left: 1px solid rgba(var(--RGB-text), 0.2);
  padding: 0 2rem;
}