@charset "UTF-8";
@font-face {
  font-family: "BookkMyungjo-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* reset */
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

ul,
ol,
li {
  list-style: none;
}

input,
button,
select {
  font: inherit;
  color: inherit;
}

input {
  border: 0;
  border-radius: 0;
}

button,
select {
  border: 0;
  background: none;
}

button:enabled {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: clamp(14px, 1.6vw, 16px);
  background-color: #f5f5f5;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" -25, "opsz" 64;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  background-color: white;
  color: #272935;
}
.dark body {
  background-color: #272935;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #272935;
  }
}
.dark body {
  color: white;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: white;
  }
}

.visual {
  background-color: #f8f3ed;
}
.dark .visual {
  background-color: #484c61;
}

@media screen and (prefers-color-scheme: dark) {
  .visual {
    background-color: #484c61;
  }
}

.header {
  margin: 0 1em;
  padding: 0 0.5em 0 1em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(39, 41, 53, 0.1);
}
.dark .header {
  border-color: rgba(255, 255, 255, 0.1);
}

@media screen and (prefers-color-scheme: dark) {
  .header {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
.header .h1 {
  font-family: "BookkMyungjo-Bd";
  font-size: 1.5em;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.6rem;
}

.toggle-theme {
  display: flex;
  border-radius: 50%;
  padding: 1rem;
  transition: all 0.3s;
}
.toggle-theme:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.dark .toggle-theme:hover {
  background-color: rgba(39, 41, 53, 0.5);
}

@media screen and (prefers-color-scheme: dark) {
  .toggle-theme:hover {
    background-color: rgba(39, 41, 53, 0.5);
  }
}

.banner {
  width: 100%;
  height: clamp(38rem, 40vw, 50rem);
  overflow: hidden;
  position: relative;
}
.banner ul {
  display: flex;
  margin: auto;
  height: 100%;
  transition: transform 0.3s;
}
.banner ul li {
  width: 100%;
  height: 100%;
}
.banner ul li .book-article {
  max-width: 1000px;
  width: calc(100% - 4em);
  margin: auto;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.banner ul li .book-article img {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 40%;
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.3);
}
.banner ul li .book-article .book-content {
  width: 50%;
  word-break: keep-all;
  z-index: 100;
}
.banner ul li .book-article .book-content .book-desc {
  color: #767676;
  margin-bottom: 1rem;
}
.dark .banner ul li .book-article .book-content .book-desc {
  color: #dddddd;
}

@media screen and (prefers-color-scheme: dark) {
  .banner ul li .book-article .book-content .book-desc {
    color: #dddddd;
  }
}
.banner ul li .book-article .book-content .book-title {
  font-family: "BookkMyungjo-Bd";
  font-size: 3em;
  letter-spacing: -2px;
  width: 7em;
  line-height: 1.2;
}
@media (max-width: 640px) {
  .banner ul li .book-article .book-content .book-title {
    font-size: 2.2em;
    width: auto;
  }
}
.banner ul li .book-article .book-content .btn {
  background-color: rgba(39, 41, 53, 0.9);
  color: white;
  transition: all 0.3s;
  border-radius: 2rem;
  height: 3.6rem;
  padding: 0 2rem;
  margin-top: 2rem;
  display: inline-flex;
  align-items: center;
  gap: 2rem;
}
.dark .banner ul li .book-article .book-content .btn {
  background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (prefers-color-scheme: dark) {
  .banner ul li .book-article .book-content .btn {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.dark .banner ul li .book-article .book-content .btn {
  color: #272935;
}

@media screen and (prefers-color-scheme: dark) {
  .banner ul li .book-article .book-content .btn {
    color: #272935;
  }
}
.banner ul li .book-article .book-content .btn:hover {
  background-color: #272935;
}
.dark .banner ul li .book-article .book-content .btn:hover {
  background-color: white;
}

@media screen and (prefers-color-scheme: dark) {
  .banner ul li .book-article .book-content .btn:hover {
    background-color: white;
  }
}
.banner ul li .book-article .book-content .btn span {
  font-size: 1em;
}

@media (max-width: 640px) {
  .banner ul li .book-article {
    align-items: flex-start;
  }
  .banner ul li .book-article img {
    top: auto;
    top: 18rem;
    left: 50%;
    right: auto;
    width: 55%;
    transform: translate(-50%, 0);
  }
  .banner ul li .book-article .book-content {
    width: 100%;
    margin: 4.2em auto 0;
  }
  .btn {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translate(-50%, 20%);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 2em;
}

.next {
  right: 2em;
}

.prev,
.next {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(39, 41, 53, 0.1);
  color: #272935;
  transition: all 0.3s;
}
.dark .prev,
.dark .next {
  background-color: rgba(39, 41, 53, 0.2);
}

@media screen and (prefers-color-scheme: dark) {
  .prev,
  .next {
    background-color: rgba(39, 41, 53, 0.2);
  }
}
.dark .prev,
.dark .next {
  border-color: rgba(255, 255, 255, 0.1);
}

@media screen and (prefers-color-scheme: dark) {
  .prev,
  .next {
    border-color: rgba(255, 255, 255, 0.1);
  }
}
.dark .prev,
.dark .next {
  color: white;
}

@media screen and (prefers-color-scheme: dark) {
  .prev,
  .next {
    color: white;
  }
}
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: #272935;
}
.dark .prev:hover,
.dark .next:hover {
  background-color: rgba(39, 41, 53, 0.7);
}

@media screen and (prefers-color-scheme: dark) {
  .prev:hover,
  .next:hover {
    background-color: rgba(39, 41, 53, 0.7);
  }
}
.dark .prev:hover,
.dark .next:hover {
  border-color: white;
}

@media screen and (prefers-color-scheme: dark) {
  .prev:hover,
  .next:hover {
    border-color: white;
  }
}

@media (max-width: 640px) {
  .prev,
  .next {
    top: 75%;
  }
}
.search {
  max-width: 1000px;
  width: calc(100% - 4em);
  margin: auto;
  padding: 2rem 0;
}
.search .search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.search .search-form input,
.search .search-form select {
  height: 4rem;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #272935;
  transition: all 0.3s;
}
.dark .search .search-form input,
.dark .search .search-form select {
  border-color: white;
}

@media screen and (prefers-color-scheme: dark) {
  .search .search-form input,
  .search .search-form select {
    border-color: white;
  }
}
.search .search-form input:focus-visible,
.search .search-form select:focus-visible {
  border-color: royalblue;
  outline: none;
}
.dark .search .search-form input:focus-visible,
.dark .search .search-form select:focus-visible {
  border-color: royalblue;
}

@media screen and (prefers-color-scheme: dark) {
  .search .search-form input:focus-visible,
  .search .search-form select:focus-visible {
    border-color: royalblue;
  }
}
.search .search-form input {
  flex-grow: 1;
  flex-shrink: 10;
  padding: 1rem;
  background: none;
  appearance: none;
}
.search .search-form input::placeholder {
  color: #767676;
  font-size: 0.85em;
}
.dark .search .search-form input::placeholder {
  color: #dddddd;
}

@media screen and (prefers-color-scheme: dark) {
  .search .search-form input::placeholder {
    color: #dddddd;
  }
}
.search .search-form select {
  width: 8rem;
}
.search .search-form button {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(39, 41, 53, 0.2);
  background-color: rgba(39, 41, 53, 0.2);
  padding: 0 2rem;
  border-radius: 1rem;
}
.dark .search .search-form button {
  border-color: rgba(255, 255, 255, 0.2);
}

@media screen and (prefers-color-scheme: dark) {
  .search .search-form button {
    border-color: rgba(255, 255, 255, 0.2);
  }
}
.dark .search .search-form button {
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (prefers-color-scheme: dark) {
  .search .search-form button {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.keyword {
  margin-top: 1.6rem;
  display: flex;
  gap: 1rem;
  font-size: 0.8em;
}
.keyword h3 {
  font-weight: bold;
  padding: 0 1rem;
  word-break: keep-all;
  padding-top: 0.4em;
}
.keyword ol {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.keyword ol li {
  padding: 0.3em 1em;
  border-radius: 0.3em;
  color: #767676;
  border: 1px solid;
  border-color: rgba(118, 118, 118, 0.4);
}
.dark .keyword ol li {
  color: #dddddd;
}

@media screen and (prefers-color-scheme: dark) {
  .keyword ol li {
    color: #dddddd;
  }
}
.dark .keyword ol li {
  border-color: rgba(221, 221, 221, 0.4);
}

@media screen and (prefers-color-scheme: dark) {
  .keyword ol li {
    border-color: rgba(221, 221, 221, 0.4);
  }
}

/* 검색결과 */
.search-result {
  max-width: 1000px;
  width: calc(100% - 4em);
  margin: auto;
  padding: 4rem 0 8rem 0;
}
.search-result h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.search-result h2 strong::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 1px;
  background-color: #272935;
  vertical-align: middle;
  margin: 0 1rem;
}
.dark .search-result h2 strong::before {
  background-color: white;
}

@media screen and (prefers-color-scheme: dark) {
  .search-result h2 strong::before {
    background-color: white;
  }
}

.search-result ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 6rem 4.8rem;
}
@media screen and (max-width: 500px) {
  .search-result ul {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 4rem 2.4rem;
  }
}

.search-result ul li {
  background-color: var(--bgColor);
  text-align: center;
}

.search-result ul li button {
  width: 100%;
  text-align: left;
  line-height: 1.4;
}
.search-result ul li button p {
  padding: 0 0.4rem;
}
.search-result ul li button .book-title {
  font-weight: bold;
  word-break: break-all;
  margin: 1rem 0 0.5rem 0;
}
.search-result ul li button .book-title,
.search-result ul li button .book-authors {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-result ul li button .book-contents {
  font-size: 0.9em;
  color: #272935;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.dark .search-result ul li button .book-contents {
  color: white;
}

@media screen and (prefers-color-scheme: dark) {
  .search-result ul li button .book-contents {
    color: white;
  }
}
.search-result ul li button .book-authors {
  margin: 0.5rem 0;
}
.search-result ul li button .book-authors,
.search-result ul li button .book-publisher {
  color: #767676;
  font-size: 0.9em;
}
.dark .search-result ul li button .book-authors,
.dark .search-result ul li button .book-publisher {
  color: #dddddd;
}

@media screen and (prefers-color-scheme: dark) {
  .search-result ul li button .book-authors,
  .search-result ul li button .book-publisher {
    color: #dddddd;
  }
}

.search-result ul li img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  border: 2px solid;
  border-color: white;
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.dark .search-result ul li img {
  border-color: #272935;
}

@media screen and (prefers-color-scheme: dark) {
  .search-result ul li img {
    border-color: #272935;
  }
}
.dark .search-result ul li img {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

/* 모달 */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dimColor);
  backdrop-filter: blur(8px);
}

.modal {
  background-color: var(--bgColor);
  padding: 2rem;
  width: 400px;
  position: relative;
  z-index: 100;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 100;
  color: white;
}
.dark .loading {
  color: #272935;
}

@media screen and (prefers-color-scheme: dark) {
  .loading {
    color: #272935;
  }
}
.dark .loading {
  color: #fff;
}