/* reset */
body, ul, ol, li, p{
  padding:0;
  margin:0;
}

ul, ol, li{
  list-style: none;
}

html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  background-color: #f5f5f5;
}

/* 공통 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* 검색결과 */
.search-result ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:2.4rem;
}

.search-result ul li{
  background-color: #fff;
  padding:2.4rem;
  text-align: center;
}
.search-result ul li img{
  height: 20rem;
  object-fit: contain;
}

/* 검색 키워드 */
.keyword ol{
  display: flex;
  gap:0.8rem;
}

/* theme */
:root{
  --bgColor: #fff;
  --textColor: #000;
  --dimColor: rgba(0,0,0,0.7);
}
.dark{
  --bgColor: #000;
  --textColor: #fff;
}
@media (prefers-color-scheme: dark) {
  :root{
    --bgColor: #000;
    --textColor: #fff;
  }
  .light{
    --bgColor: #fff;
    --textColor: #000;
  }
}

body{
  background-color: var(--bgColor);
  color: var(--textColor);
}

/* 모달 */
.modal-wrapper{
  position: fixed;
  top:0;
  left: 0;
  width:100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dimColor);
  backdrop-filter: blur(8px);
}

.modal{
  background-color: var(--bgColor);
  padding:2rem;
  width:400px;
  position: relative;
  z-index: 100;
}


/* 배너 */
.banner{
  width:100%;
  aspect-ratio: 5/2;
  overflow: hidden;
  position: relative;
}
.banner ul{
  display: flex;
  height:100%;
  transition: transform 0.3s;
}
.banner ul li{
  width:100%;
  height:100%;
}
.banner img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.banner .prev, 
.banner .next{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.banner .prev{
left:0;
}

.banner .next{
right:0;
}