.banner {
  width: 100%;
  height: clamp(38rem, 40vw, 50rem);
  overflow: hidden;
  position: relative;

  ul {
    display: flex;
    margin: auto;
    height: 100%;
    transition: transform 0.3s;

    li {
      width: 100%;
      height: 100%;

      .book-article {
        @include max-width;
        position: relative;
        height: 100%;

        box-sizing: border-box;
        display: flex;
        align-items: center;

        img {
          position: absolute;
          top: 4rem;
          right: 0;
          width: 40%;
          box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.3);
        }

        .book-content {
          width: 50%;
          word-break: keep-all;
          .book-desc {
            @include get-color(color, gray);
            margin-bottom: 1rem;
          }
          .book-title {
            font-family: 'BookkMyungjo-Bd';
            font-size: 3em;
            @media (max-width: 640px) {
              font-size: 2.6em;
            }
            line-height: 1;
          }
          .btn {
            @include get-color(background-color, text, 0.9);
            @include get-color(color, bg);

            transition: all 0.3s;
            &:hover {
              @include get-color(background-color, text, 1);
            }
            border-radius: 2rem;
            height: 3.6rem;
            padding: 0 2rem;
            margin-top: 2rem;
            display: inline-flex;
            align-items: center;
            gap: 2rem;

            span {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .banner ul li {
    .book-article {
      justify-content: center;
      img {
        top: auto;
        bottom: 0;
        left: 50%;
        right: auto;
        width: 55%;
        transform: translate(-50%, 35%);
      }
      .book-content {
        width: 90%;
        transform: translateY(-50%);
      }
    }
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 2em;
}
.next {
  right: 2em;
}

.prev,
.next {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include get-color(background-color, bg, 0.2);
  border-width: 1px;
  border-style: solid;
  @include get-color(border-color, text, 0.1);
  @include get-color(color, text);

  transition: all 0.3s;

  &:hover {
    @include get-color(background-color, bg, 0.7);
    @include get-color(border-color, text);
  }
}

@media (max-width: 640px) {
  .prev,
  .next {
    top: 75%;
  }
}
