/* 검색결과 */
.search-result {
  @include max-width;
  padding: 4rem 0 8rem 0;
}
.search-result ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 6rem 4.8rem;
}

.search-result ul li {
  background-color: var(--bgColor);

  text-align: center;
}
.search-result ul li button {
  width: 100%;
  text-align: left;

  line-height: 1.4;
  p {
    padding: 0 0.4rem;
  }
  .book-title {
    font-weight: bold;
    word-break: break-all;
    margin: 1rem 0 0.5rem 0;
  }
  .book-title,
  .book-authors {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .book-contents {
    font-size: 0.9em;
    color: #444;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .book-authors {
    margin: 0.5rem 0;
  }
  .book-authors,
  .book-publisher {
    color: #767676;
    font-size: 0.9em;
  }
}

.search-result ul li img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;

  border: 2px solid #fff;
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* 모달 */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dimColor);
  backdrop-filter: blur(8px);
}

.modal {
  background-color: var(--bgColor);
  padding: 2rem;
  width: 400px;
  position: relative;
  z-index: 100;
}
