.search {
  @include max-width;

  padding: 2rem 0;
  .search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;

    input,
    select {
      height: 4rem;
      border-width: 0 0 1px;
      border-style: solid;
      @include get-color(border-color, text);

      transition: all 0.3s;

      &:focus-visible {
        @include get-color(border-color, point);
        outline: none;
      }
    }
    input {
      flex-grow: 1;
      flex-shrink: 10;
      padding: 1rem;
      background: none;
      appearance: none;

      &::placeholder {
        @include get-color(color, gray);
        font-size: 0.85em;
      }
    }
    select {
      width: 8rem;
    }
    button {
      border-width: 1px;
      border-style: solid;
      @include get-color(border-color, text, 0.2);
      @include get-color(background-color, text, 0.2);

      padding: 0 2rem;
      border-radius: 1rem;
    }
  }
}

.keyword {
  margin-top: 1.6rem;
  display: flex;
  gap: 1rem;
  font-size: 0.8em;
  h3 {
    font-weight: bold;
    padding: 0 1rem;
    word-break: keep-all;
    padding-top: 0.4em;
  }
  ol {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    li {
      padding: 0.3em 1em;
      border-radius: 0.3em;
      @include get-color(color, gray);
      border: 1px solid;
      @include get-color(border-color, gray, 0.4);
    }
  }
}
