$textColor: #272935;
$bgColor: #fff;

$colors: (
  light: (
    text: #272935,
    gray: #767676,
    bg: #fff,
    banner: #f8f3ed,
    point: royalblue,
  ),
  dark: (
    text: #fff,
    gray: #ddd,
    bg: #272935,
    banner: #484c61,
    point: royalblue,
  ),
);

@function get-color($key, $type: 'light') {
  @each $name, $color in map-get($colors, $type) {
    @if ($key == $name) {
      @return $color;
    }
  }
}

@mixin get-color($property, $color, $opacity: 1) {
  #{$property}: rgba(get-color($color), $opacity);
  @at-root .dark & {
    #{$property}: rgba(get-color($color, dark), $opacity);
  }
}
