.visual {
  @include get-color(background-color, banner);
}

.header {
  margin: 0 1em;
  padding: 0 0.5em 0 1em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 0 0 1px;
  border-style: solid;
  @include get-color(border-color, text, 0.1);

  .h1 {
    font-family: 'BookkMyungjo-Bd';
    font-size: 1.5em;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.6rem;
  }
}

.toggle-theme {
  display: flex;
  border-radius: 50%;
  padding: 1rem;
  transition: all 0.3s;
  &:hover {
    @include get-color(background-color, bg, 0.5);
  }
}
